{% extends "staticpages/main.html" %}

{% block content %}


<h1>
    <img src="http://gravatar.com/avatar/{{email_md5}}?s=250" />
    {{ student }}
    <a class="nodec" href="mailto:{{student}}@uwindsor.ca">
        <i class='glyphicon glyphicon-envelope'></i>
    </a>
    <span class="lead">{{student.solution_count}} solved</span>
</h1>
<hr />

<table class="table table-striped table-bordered">
    {% for sol in solutions %}
        <tr>
            <td>
                <a href="/solution/{{ sol.pk }}">
                    {{sol}}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<hr />

{% if student.contribution_set.count > 0 %}

<h2>Contributions</h2>

{% for c in student.contribution_set.all %}
    <a href={{ c.commit_url }}>
        Commit diff
    </a>
    / <a href={{ c.affected_page}}>
        Affected Page
    </a>
    <br />
    {{ c.description | safe }}
    <hr />
{% endfor %}

{% endif %}

<style>
.glyphicon {
    font-size:0.5em;
}

a.nodec:hover{
    text-decoration:none;
}
</style>
{% endblock %}
