  <!-- Latest compiled and minified JavaScript -->
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script type="application/javascript">hljs.initHighlightingOnLoad();</script>
  <script type="application/javascript" src="https://code.angularjs.org/1.4.7/angular.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="https://code.angularjs.org/1.4.7/angular-route.min.js" charset="utf-8"></script>
  <script type="application/javascript" src="/static/js/leaderBoard.js" charset="utf-8"> </script>
</body>
</html>
