<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POTW</title>
  <script type="application/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="application/javascript" src="/static/js/Chart.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <link rel="stylesheet" href="/static/css/leaderBoard.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Problem of the Week</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/problem/all/">Problems</a></li>
      <li><a href="/leaderboard/">Leader Board</a></li>
      <li><a href="/solution/all">Solutions</a></li>
      <li><a href="/student/signup/">Sign up</a></li>
      <li><a href="https://github.com/Quinny/uWindsor-POTW-Leaderboard" target="_">Contribute</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
