{% extends "staticpages/main.html" %}

{% block content %}
<h1>Leader Board</h1>
<hr />
{% verbatim %}
<div ng-app="LeaderBoardApp" ng-controller="MainCtrl" class="ng-cloak">
  <div id="main-content">
    <div>
      <script type="text/ng-template" id="leaderBoardTmpl">
        <div ng-controller="LeaderBoardController">
          <div ng-show="page.loading" class="fader load-center">
            <img src="/static/img/mini_balls.gif" align="middle" class="loading">
          </div>
          <div ng-hide="page.loading" class="fader">
            <div>
              <div ng-if="users.length == 0">
                <div class="error_msg">No solvers yet. Be the
                  <a href="/">first</a>
                </div>
              </div>
              <div ng-if="users.length != 0">
                <table class="center">
                  <tr ng-repeat="user in users track by $index">
                    <td> {{ $index + 1 }} </td>
                    <td class="challenger"><a href="/student/{{ user.name }}">{{user.name}}</a></td>
                    <td class="solved">{{ user.solved }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </script>
      <script type="text/ng-template" id="errorTmpl">
        <div ng-controller="ErrorController">
          <button ng-click="refresh()" class="pull-right">refresh</button>
          <div class="error_msg">Uh oh... something bad happened. Contact Admin/Support.
          </div>
        </div>
      </script>
    </div>
    <div id="template_view" ng-view class="fader">
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock content %}
