{% extends "staticpages/main.html" %}

{% block content %}
<table class="table table-striped table-bordered">
    {% for p in problems %}
        <tr>
            <td>
                <a href="/problem/{{p.year}}/{{p.week}}/">{{ p }}
                </a>
            </td>
        </tr>
    {% endfor %}

<canvas id="solutionGraph"></canvas>
<script>
var ctx = $("#solutionGraph").get(0).getContext("2d");
ctx.canvas.width  = window.innerWidth * 0.66;
ctx.canvas.height = window.innerHeight * 0.66;
var myNewChart = new Chart(ctx);
var data = {
    {{ labels | safe }},
    datasets: [
        {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            {{data | safe}}
            }
    ]
};
var myLineChart = new Chart(ctx).Line(data, {
    scaleStartValue: 0,
    scaleBeginAtZero: true
});
</script>

{% endblock %}
