{% extends "staticpages/main.html" %}

{% block content %}
<h1>{{ problem }}
    <span class="lead">Solved by: {{ solutions.count }} Student{{ solutions.count | pluralize}}
        ({{ percent }}% of total)
    </span>
</h1>
<hr />

{{ problem.description | safe }}
<br /><br />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submissionModal">
    Submit Solution
</button>

<hr />

<h2>Solved by</h2>
<table class="table table-striped table-bordered">
    {% for sol in solutions %}
        <tr>
            <td>
                <a href="/solution/{{sol.pk}}/">
                    {{sol.student}}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="submissionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submission for week {{ week }}</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="/solution/add/" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="week" value="{{ problem.week }}">
            <input type="hidden" name="year" value="{{ problem.year }}">
            <input name="submitcode" class="form-control" placeholder="Submission code" value="{{ submitcode }}">
            <br />
            <input type="checkbox" name="public" checked> Make my solution public
            <input type="checkbox" name="remember" checked> Remember me 
            <br />
            <br />
            <span class="btn btn-default btn-file">
                <input type="file" name="source">
            </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
  </div>
</div>


{% endblock %}
