{% extends "staticpages/main.html" %}

{% block content %}

{% if pending_submissions %}
    <h2><a href="/dashboard/submission/all/">Submissions Pending</a> ({{ pending_submissions }})</h2>
{% endif %}

<h2>Add New User</h2>
<hr />
<form method="POST" action="/dashboard/adduser/">
    {% csrf_token %}
    <input class="form-control" name="student_id" placeholder="student ID">
    <br /> 
    <input class="form-control" type="submit">
</form>

<hr />

<h2>Add New Problem</h2>
<form method="POST" action="/dashboard/addproblem/">
    {% csrf_token %}
    <input class="form-control" name="year" placeholder="Year">
    <input class="form-control" name="week" placeholder="Week">
    <textarea rows="10" name="description" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary">Add Problem</button>
</form>

<hr />

<h2>User List</h2>
<hr />
<table class="table table-striped table-bordered">
    {% for s in students %}
    <tr>
        <td>
            <a href="/dashboard/student/{{ s.pk }}">{{ s }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Problem List</h2>
<table class="table table-striped table-bordered">
    {% for p in problems %}
        <tr>
            <td>
                <a href="/dashboard/editproblem/{{p.pk}}">{{p}}</a>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="/dashboard/logout/">Logout</a>
{% endblock %}
