{% extends "staticpages/main.html" %}

{% block content %}
{% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

{% if success %}
    <div class="alert alert-success">
        {{ success }}
    </div>
{% endif %}

<h1>Dashboard</h1>
<hr />
<h2>Login</h2>
<hr />
<form method="POST" action="/dashboard/login/">
    {% csrf_token %}
    <input class="form-control" name="username" placeholder="Username">
    <br />
    <input class="form-control" name="password" type="password" placeholder="password">
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
