{% extends "dashboard/main.html" %}

{% block content %}
<form method="POST" action="/dashboard/updateproblem/">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{problem.pk}}">
    <br />
    <input class="form-control" name="week" value="{{problem.week}}">
    <br />
    <input class="form-control" name="year" value="{{problem.year}}">
    <br />
    <input class="form-control" name="nicename" value="{{problem.nicename}}" placeholder="Nicename">
    <br />
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <textarea style="width:50%" class="description" rows="10" cols="100" name="description">{{problem.description}}</textarea>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="preview"></div>
        </div>
    </div>
    <input type="checkbox" name="publish"
    {% if problem.published %}
        checked
    {% endif %}
    > Publish Problem
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<hr />

<script>
$(document).ready(function() {
    $(".description").on("change keyup paste", function() {
        $(".preview").html($(".description").val());
    });
});
</script>

{% endblock %}
