{% extends "dashboard/main.html" %}

{% block content %}
<h1>{{ student }} <span class="lead">{{student.solution_set.count}} solved</span></h1>
<hr />
<h2>
    Add Contribution
</h2>
<form method="POST" action="/dashboard/addcontribution/">
    {% csrf_token %}
    <input class="form-control" type="hidden" name="pk" value="{{student.pk}}">
    <br />
    <input class="form-control" name="commit-url" placeholder="Commit URL">
    <br />
    <input class="form-control" name="affected-page" placeholder="Affected Page">
    <br />
    <textarea class="form-control" name="description" placeholder="Description"></textarea>
    <br />
    <button type="submit" class="btn btn-default">Add</button>
</form>

{% endblock %}
